@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* colors:#FF204E
#A0153E
#5D0E41
#00224D  
#f6f5f2
#0C0C0C
*/

:root {
    --main-color: #FF204E;
}

* {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    line-height: 1.5;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #F6F5F2;
    padding-left: 30rem;
}

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: .1rem solid #5D0E41;
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 100000;
    transition: 0.3s linear;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo {
    text-transform: uppercase;
    color: #f6f5f2;
    font-size: 3rem;
    font-weight: 800;
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);

}

header .navbar a {
    display: block;
    font-size: 2rem;
    color: #f6f5f2;
}

header .navbar a:hover {
    letter-spacing: 0.2rem;
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);

}

header .follow a {
    font-size: 2.5rem;
    color: #f6f5f2;
    margin: 0 .7rem;

}

header .follow a:hover {
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);

}

#menu-bars {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100000;
    background: var(--main-color);
    color: #F6F5F2;
    border-radius: .5rem;
    padding: 0.75rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}



@media (max-width:991px) {

    html {
        font-size: 45%;
    }

    body {
        padding: 0;

    }

    #menu-bars {
        display: initial;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
    }


}

@media (max-width:450px) {

    html {
        font-size: 50%
    }

    header {
        width: 100%;
    }

}